# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_Modules/
firebase-debug.log
firestore-debug.log
ui-debug.log

lib/
.gradle/
aws/generated
build/
server/src/main/resources/keystore.jks
server/src/main/resources/keystore_password.txt