/*div.row * {*/
/*    display: inline-block;*/
/*}*/

div.stack > * {
    position: absolute;
}

.MuiButton-root {
    text-transform: none !important;
}
/*.MuiFormControl-root {*/
/*    height: 100%;*/
/*}*/
.MuiInputBase-input {
    height: 100% !important;
    overflow: auto !important;
}
.MuiFilledInput-multiline {
    height: 100%;
}


html,body, #root {
    height:100%;
}

/*body {*/
/*    background-color: black;*/
/*    font-family: cursive;*/
/*}*/

/*.glow {*/
/*    font-size: 80px;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    animation: glow 1s ease-in-out infinite alternate;*/
/*}*/

/*@keyframes glow {*/
/*    from {*/
/*        text-shadow: 0 0px 0px #090973;*/
/*    }*/

/*    to {*/
/*        text-shadow: 0px -0px 20px #090973;*/
/*    }*/
/*}*/

.hoverable:hover {
    background-color: rgb(70 70 70) !important;
}